body {
   /* margin: 0;  */
  /* justify-content: center;
  align-items: center;*/
  background-color: #040C3A; 
  text-align: center;
  justify-content: center;
  display:flex;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
